@{
    Layout = "_Layout";
}
<h1 class="top-index">BANDS</h1>
<div class="container-custom">
  <div class="top-spacer link-custom">
    @if (Model["allBands"].Count != 0)
    {
        <span class="link-other link-list-band"><a href='/bands/@Model["random"].GetId()'>Discover a new band</a></span>
        <p class="white-text">Or select a band from the list below:</p>
      <ul class="list-unstyled">
        @foreach (var band in Model["allBands"])
        {
          <li class="link-list-size link-list-band"><a href='/bands/@band.GetId()'>@band.GetName()</a></li>
        }
      </ul>

    }
    else
    {
        <div class="alert alert-warning">
          <h4><em>There are no bands entered yet.</em></h4>
        </div>
    }

    <div class="link-custom link-other">
      <p class="band-link"><a href="/bands">VIEW ALL BANDS</a>
      <p><a href="/">HOME</a>
    </div>
  </div>
</div>
