@{
    Layout = "_Layout";
}
<h1>BANDS</h1>
<hr />
@if (Model["allBands"].Count != 0)
{
    <h4><a href='/bands/@Model["random"].GetId()'>Discover a new band</a></h4>
    <p class ="lead">Or select a band from the list below:</p>
  <ul class="list-unstyled">
    @foreach (var band in Model["allBands"])
    {
      <li><a href='/bands/@band.GetId()'>@band.GetName()</a></li>
    }
  </ul>

}
else
{
    <div class="alert alert-warning">
      <h4><em>There are no bands entered yet.</em></h4>
    </div>
}

<ul class="list-inline">
  <li><a class="other-link" href="/bands/new">ADD A BAND</a></li>
  <li><a class="other-link" href="/">HOME</a></li>
</ul>
