@{
    Layout = "_Layout";
}
<div class="container-custom">
  <h1 class="top-index">ADD A BAND</h1>
  <form class="top-spacer-form" action="/bands/new" method="post">
    <input class="white-text" id="band-name" name="band-name" type="text" placeholder="Enter band name here">
    <button class="btn-custom band-bg" type="submit">ADD</button>
  </form>
  <div class="link-custom link-other">
    <ul>
      <li class="band-link"><a href="/bands">VIEW ALL BANDS</a></li>
      <li><a href="/">HOME</a></li>
    </ul>
  </div>
</div>
