@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1>BANDS</h1>
        <br>
        <br>
        <a href="/bands/new">ADD</a> <a href="/bands/new">VIEW</a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1>VENUES</h1>
        <br>
        <br>
        <a href="/venues/new">ADD</a> <a href="/venues/new">VIEW</a>
    </div>
</div>
<input type="text" name="band-name" pattern="^[A-Z0-9][A-Za-z0-9_@. /#&+-$@]*$">
