@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col s6">
      @* <div class="band-bg"> *@
        <h1 class="top-index">BANDS</h1>
        <div class="link-band-index link-index-size link-custom band-link">
          <a href="/bands/new">ADD</a> <a href="/bands">VIEW</a>
        </div>
      @* </div> *@
    </div>
    <div class="col s6">
      <div class="link-venue-index link-index-size link-custom venue-link">
        <a href="/venues/new">ADD</a> <a href="/venues">VIEW</a>
      </div>
        <h1 class="bottom-index">VENUES</h1>
      </div>
    </div>

@* </div>
<input type="text" name="band-name" pattern="^[A-Z0-9][A-Za-z0-9_@@. /#&+-$@@]*$"> *@
