@{
    Layout = "_Layout";
}
<div>
<h1 class="top-top">EDIT > @Model.GetName()</h2>
</div>
<div class="container-custom">
  <form action="/venues/@Model.GetId()/edit" method="post">
    <input class="white-text input-custom" type=text name="new-name" id="new-name" required autofocus value="@Model.GetName()" placeholder="@Model.GetName(), or enter new name...">
      <button class="btn-custom venue-bg" type="submit">EDIT</button>
  </form>
  <p class="link-custom link-other venue-link"><a href='/venues/@Model.GetId()'>GO BACK</a></p>
</div>
