@{
    Layout = "_Layout";
}
<div class="container-custom">
  <h1 class="top-index">ADD A VENUE</h1>
  <form class="top-spacer-form" action="/venues/new" method="post">
    <input class="white-text input-custom" id="venue-name" name="venue-name" type="text" placeholder="Enter venue name here">
    <button class="btn-custom venue-bg" type="submit">ADD</button>
  </form>
  <div class="link-custom link-other">
    <p class="venue-link"><a href="/venues">VIEW ALL VENUES</a></p>
    <p><a href="/">HOME</a></p>
  </div>
</div>
